.wrapper {
  width: 100vw;
  background-color: #F5F5F5;
}
.bg {
  width: 100%;
  height: 625px;
  background-color: #FF4D4D;
  background-image: url('/src/assets/images/login-bg.png');
  display: flex;
  align-items: center;
}
.logo {
  width: 120px;
  height: 173px;
  margin-left: 21px;  
}
.logo-text {
  color: #fff;
  font-size: 52px;
  // font-weight: bold;
  margin-left: 32px;  
}
.form {
  width: calc(100% - 30px);
  position: absolute;
  left: 0;
  top: 416px;
  margin: 0 15px 15px 15px;
  box-sizing: border-box
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 15px rgba(172, 172, 172, 0.5);
  padding: 93px 40px;
  box-sizing: border-box;
}
.input-wrapper {
  display: flex;
  align-items: center;
  height: 90px;
  border: 2px solid #eee;
  border-radius: 45px;
  margin-bottom: 60px;
}
.input-icon {
  width: 48px;
  height: 48px;
  margin-left: 22px;
  margin-right: 14px;
}
.input {
  flex-grow: 1;  
  font-size: 32px;
  color: #BCBCBC;
}
.register-link {
  color: #D73434;
  font-size: 32px;
  margin-top: 60px;
  text-align: center;
  text-decoration: underline;
}
.tips {
  color: #BCBCBC;
  font-size: 28px;
  margin-top: 60px;  
  text-align: center;
}
.tips-underline {
  text-decoration: underline;
}