.wrapper {
  width: 100vw;
}
.bg {
  width: 100%;
  height: 420px;
  background-color: #FF4D4D;
  position: absolute;
  left: 0;
  top: 0;
  z-index -1;
}
.form {
  margin-top: 310px;
  background-color: #fff;
  border-top-left-radius: 48px;  
  border-top-right-radius: 48px;  
  padding: 40px;
}
.input {
  width: 640px;
  height: 90px;
  line-height: 90px;
  color: #BCBCBC;
  font-size: 32px;
  border-radius: 45px;
  border: 2px solid #eee;
  margin-left: 24px;  
  margin-bottom: 28px;
  padding: 0 40px;
  box-sizing: border-box;
  position: relative;
  overflow: visible;
}
.require:before {
  content: '*';
  color: #D73434;
  position: absolute;
  top: 6px;
  left: -34px;
}
.label {
  height: 90px;
  line-height: 90px;
  color: #333;
  font-size: 32px;
  position: relative;
  overflow: visible;
  margin-left: 24px;  
}
.radio-box {
  display: flex;
  justify-content: space-between;
  margin: 0 26px;
  color: #333;
  font-size: 32px;
}