.wrapper {
  width: 100vw;
}
.histort-item {
  margin: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
}
.normal {
  font-weight: bold;
  margin: 0 10px;
  font-size: 28px;
  width: 50px;
  text-align: center;
}
.posi0 {
  font-size: 60px;
  color: #ff5059;
}
.posi1 {
  font-size: 50px;
  color: mediumturquoise;
}
.posi2 {
  font-size: 40px;
  color: darkorange;
}
.face {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 20px;
}
.grade {
  font-size: 24px;
  color: #383031;
}
.count {
  font-size: 40px;
  font-weight: bold;
}
