.supplier {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: #F5F5F5;
}
.supplier-item {
  background-color: #fff;
  margin: 0 14px;
  margin-top: 34px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
  padding: 28px 34px;
  box-sizing: border-box;
  color: #323334;
  font-size: 28px;
  line-height: 2;
  border-radius: 16px;
  position: relative;
  overflow: visible;
}
.supplier-item:before {
  content: '';
  width: 225px;
  height: 16px;
  position: absolute;
  left: 0;
  top: -16px;
  background-color: #F2595B;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.title {
  font-weight: bold;
  font-size: 32px;
  line-height: 60px;
  padding-left: 20px;  
  position: relative;
  overflow: visible;
}
.title:before {
  content: '';
  position: absolute;
  left: 0;
  top: 14px;
  width: 7px;
  height: 33px;
  background-color: #F2595B;
}