.card {
  margin: 0 14px;
  margin-top: 18px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 4px;
}
.card-title {
  height: 93px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 28px;
  line-height: 1;
  background: url('../../assets/images/card-bg.png') no-repeat;
  background-size: 100% 100%;
  padding: 0 22px;
}
.card-content {
  background-color: #fff;
  padding: 12px;  
}
.slash {
  width: 32px;
  height: 36px;
  margin-right: 4px;
}
.more {
  border-radius: 55px;
  color: #fff;
  font-size: 23px;
  padding: 11px 27px;
  border: 2px solid #fff;  
}
.lock {
  width: 22px;
  height: 28px;
  margin-right: 6px;  
}