.card {
  margin: 0 14px;
  margin-top: 18px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.card-title {
  height: 93px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 28px;
  line-height: 1;
  background-color: #F86A48;
  border-radius: 4px;
}
.card-content {
  background-color: #fff;
  padding: 12px;  
}