.list {
}
.list-item {
  margin-top: 32px;
  color: #323334;
}
.face {
  width: 172px;
  height: 172px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 15px;
  background-color: #f5f5f5;
}
.name {
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
}
.desc {
  margin-top: 8px;  
  font-size: 18px;
  line-height: 25px;
}