.tab-bg {
  width: 188px;
  background-color: #F5F5F5;
  height: calc(100% - 26px);
  overflow-y: scroll;
  margin-top: 26px;
  margin-right: 24px;
  box-sizing: border-box;
}
.tab {
  width: 188px;
  font-size: 26px;
  color: #4C4C4C;
  background-color: #fff;
  text-align: center;
}
.tab-item {
  line-height: 78px;
  background-color: #F5F5F5;
}
.active-tab {
  background-color: #fff;  
  position: relative;
  display: block;
}
.active-tab + .tab-item {
  border-top-right-radius: 20px; 
}
.tab-text {
  display: block;
  width: 100%;
  height: 100%;
}
.active-text {
  background-color: #FFF2F2;
  color: #E0422C;
  font-weight: bold; 
  border-bottom-right-radius: 20px; 
}
.sub-item {
  background-color: #fff;
  padding: 0 38px;
  color: #4C4C4C;
}
.sub-active {
  color: #E0422C;
}
.active-img {
  position: absolute;
  left: 0;
  top: 20px;
  width: 20px;
  height: 40px;  
}