.tab {
  width: 188px;
  font-size: 26px;
  color: #4C4C4C;
  line-height: 78px;
  background-color: #F5F5F5;
  height: 709px;
  overflow-y: scroll;
  margin-top: 26px;
  margin-right: 24px;
  text-align: center;
}
.tab-text {
  padding: 0 38px;
}
.active {
  background-color: #FFF2F2;
  color: #E0422C;
  font-weight: bold;  
}
.sub-item {
  background-color: #fff;
  padding: 0 38px;
  color: #4C4C4C;
}
.sub-active {
  color: #E0422C;
}