.flex-x {
  display: flex;  
}
.flex-y {
  display: flex;  
  flex-direction: column;
}
.flex-grow-x {
  flex-grow: 1;
  width: 2px;  
}
.flex-grow-y {
  flex-grow: 1;
  height: 2px;  
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;  
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
.bold {
  font-weight: bold;
}
.red-f {
  color: #E55353;
}

.two-line-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
}